
/* 0. Reset ================================= */
@import 'reset';
$poiret-one-font: 'Poiret One', cursive;
$corben-font: 'Corben', cursive;
$dark-brown: #42282E;
$green: #75A48B;
$sand: #D9CFB0;
$orange: #DC9B74;
$strawberry: #D6665A;

$tablet-bp: 768px;
$desktop-bp: 1280px;

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #ccc;
}




/* 2. Content ================================= */

header {
	padding: 10px;
	background: $strawberry;
	h1 {
		font-family: $poiret-one-font;
		color: white;
		font-weight: 1000;
		font-size: 1.5em;
		text-align: end;
		padding: 10px;

	}
}


.content {
	position: relative;

	section {
		background: $sand;
		width: 100%;
		max-height: 700px;
		min-height: 500px;
		text-align: center;


		h1 {
			font-family: $corben-font;
			font-weight: 1000;
			font-size: 15px;
			// padding: 5px 10px;
			}


		.h1-hero-text-top {
			padding: 10px;
		}

		.h1-hero-text-middle {
			padding: 10px;

		}

		.h1-hero-text-bottom {
			padding: 10px;
			

		}

	}

	.company-name-span {
		font-family: $poiret-one-font;
		color: white;
		font-weight: 1000;
		font-size: 1.5em;
		border-bottom: 1mm ridge $green;
		margin-bottom: -5px; 
	}

	.images {
		position: relative;

		img{
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 50%;
			padding: 20px;
		
		}
	}
}

